# Node.js
node_modules/
npm-debug.log
.env

# VS Code
.vscode/

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

# Uploaded images or files
uploads/

# Build files (if you use any later)
dist/
build/
